beautifulsoup4 == 4.12.3
boto3 == 1.34.75
ftfy == 6.2.0
mailchecker == 6.0.1
openpyxl == 3.1.2
phonenumbers == 8.13.31
python-dateutil == 2.9.0
python-fsutil == 0.14.1
python-slugify == 8.0.4
pyyaml == 6.0.1
requests == 2.31.0
toml == 0.10.2
xlrd == 2.0.1
xmltodict == 0.13.0
