beautifulsoup4 == 4.14.3
boto3 == 1.42.4
ftfy == 6.3.1
mailchecker == 6.0.19
openpyxl == 3.1.5
phonenumbers == 9.0.20
python-dateutil == 2.9.0.post0
python-fsutil == 0.15.0
python-slugify == 8.0.4
pyyaml == 6.0.3
requests == 2.32.5
toml == 0.10.2
typing_extensions >= 4.14.1
useful-types == 0.2.1
xlrd == 2.0.2
xmltodict == 1.0.2
